.backgroundModeltitle {
    height: auto;
    width: auto;
    background: rgb(130,130,130);
    background: linear-gradient(180deg, rgba(130,130,130,1) 0%, rgba(255,255,255,1) 100%);
    /* color: aliceblue; */
    padding-top: 10.1ex;
}

.buttonBpmTbs {
    border-radius: 25px;
    width: 7ex;
    height: 5ex;
}

.buttonMetronomeTabs {
    border-radius: 25px;
    width: 10ex;
    height: 5ex;
}

.buttonReturnCatalog {
    border-radius: 25px;
    width: 13em;
    height: 5.5ex;
}