.cart-background-title {
    height: 18.5ex;
    background: rgb(130,130,130);
    background: linear-gradient(180deg, rgba(130,130,130,1) 0%, rgba(255,255,255,1) 100%);
    padding-top: 11.1ex;
}

.img-table-cart {
    width: 9.5ex;
}

.img-display-user {
    width: 4.5ex;
    height: 4.5ex;
    border-radius: 50%;
}