.font-menu-navbar { font-size: larger; }

.margin-menu-navbar { margin-right: 10em; }

.logo-navbar { width: 10ex; margin-left: 8em; }

.navbar-shadow {
    -webkit-box-shadow: 0px 3px 6px -2px rgba(0,0,0,0.6);
    box-shadow: 0px 3px 6px -2px rgba(0,0,0,0.6);
}

.img-display {
    height: 2.8ex;
    border-radius: 25px;
}

.log-out-button {
    border-radius: 25px;
    width: 15ex;
}

.noti-icon-badge {
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    height: 20px;
    width: 20px;
    background-color: limegreen;
    font-size: small;
    font-weight: 800;
    margin-left: -8px;
    text-align: center;
}
